@model System.Collections.Specialized.NameValueCollection

<hgroup class="title">
    <h1>HTTP Methods</h1>
    <h2>POST, PUT, DELETE</h2>
</hgroup>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Form</legend>
        <ol>
            @foreach (var key in Model.AllKeys)
            { 
                <li>
                    @Html.Label(key)
                    @Html.TextBox(key, Model[key])
                    <input id="put" type="button" name="put" value="PUT" />
                    <input id="delete" type="button" name="delete" value="DELETE" />
                </li> 
            }
        </ol>
        <input id="add" type="button" name="add" value="Add" />

    </fieldset>
}
